## IMDB Movie Scoring  & Sorting

------

In [1]:
# import işlemleri ve set ayarları

import pandas as pd
import math
import scipy.stats as st

pd.set_option("display.max_columns",None)
pd.set_option("display.expand_frame_repr",False)
pd.set_option("display.float_format", lambda x: "%.5f" % x)

In [2]:
# veri setini çalışmaya dahil ediyoruz.

df = pd.read_csv(r"C:\Users\kkakt\Desktop\Measurement Problems\datasets\movies_metadata.csv",low_memory=False)
df = df[["title","vote_average","vote_count"]] # gerekli değişkenler
print(df.shape)
df.head()

(45466, 3)

                         title  vote_average  vote_count
0                    Toy Story       7.70000  5415.00000
1                      Jumanji       6.90000  2413.00000
2             Grumpier Old Men       6.50000    92.00000
3            Waiting to Exhale       6.10000    34.00000
4  Father of the Bride Part II       5.70000   173.00000

In [3]:
# vote average'a göre sıralama

df.sort_values("vote_average",ascending=False).head(20)

                                                 title  vote_average  vote_count
21642  Ice Age Columbus: Who Were the First Americans?      10.00000     1.00000
15710        If God Is Willing and da Creek Don't Rise      10.00000     1.00000
22396                                   Meat the Truth      10.00000     1.00000
22395            Marvin Hamlisch: What He Did For Love      10.00000     1.00000
35343                       Elaine Stritch: At Liberty      10.00000     1.00000
186                                           Reckless      10.00000     1.00000
45047                                  The Human Surge      10.00000     1.00000
22377                                        The Guide      10.00000     1.00000
22346                                   هیچ کجا هیچ کس      10.00000     1.00000
1634                          Other Voices Other Rooms      10.00000     1.00000
35461                          Tom Brown's School Days      10.00000     1.00000
22255                                  Cowboy del Amor      10.00000     1.00000
45005                                       Fool's Day      10.00000     1.00000
41879                   Panorama of Esplanade by Night      10.00000     1.00000
41845                                        Maula Jat      10.00000     1.00000
40431                              People of a Feather      10.00000     1.00000
40442                              Siccin 3: Cürmü Ask      10.00000     2.00000
27908                                           Mentor      10.00000     1.00000
41804                                       Bella Vita      10.00000     1.00000
41797      Campaign of Hate: Russia and Gay Propaganda      10.00000     1.00000

In [4]:
# oy sayılarını çeyreklerine bölme

df["vote_count"].describe([0.10,0.25,0.50,0.70,0.80,0.90,0.95,0.99])

count   45460.00000
mean      109.89734
std       491.31037
min         0.00000
10%         1.00000
25%         3.00000
50%        10.00000
70%        25.00000
80%        50.00000
90%       160.00000
95%       434.00000
99%      2183.82000
max     14075.00000
Name: vote_count, dtype: float64

In [5]:
# oy sayısı 400'den büyük filtreleme ve sıralama yapmak.

df.loc [df["vote_count"]>400].sort_values("vote_average",ascending=False)

                                 title  vote_average  vote_count
10309      Dilwale Dulhania Le Jayenge       9.10000   661.00000
40251                       Your Name.       8.50000  1030.00000
834                      The Godfather       8.50000  6024.00000
314           The Shawshank Redemption       8.50000  8358.00000
1152   One Flew Over the Cuckoo's Nest       8.30000  3001.00000
...                                ...           ...         ...
1486           Speed 2: Cruise Control       4.10000   439.00000
28207                The Boy Next Door       4.10000  1034.00000
18101                    Jack and Jill       4.00000   619.00000
21238                        Sharknado       3.80000   484.00000
13566             Dragonball Evolution       2.90000   475.00000

[2416 rows x 3 columns]

In [6]:
# Vote_Count'u standartlaştırmak

from sklearn.preprocessing import MinMaxScaler

df["vote_count_score"] = MinMaxScaler(feature_range=(1,10)).\
fit(df[["vote_count"]]).\
transform(df[["vote_count"]])

df.sort_values("vote_count_score",ascending=False).head(20)

                                                   title  vote_average  vote_count  vote_count_score
15480                                          Inception       8.10000 14075.00000          10.00000
12481                                    The Dark Knight       8.30000 12269.00000           8.84519
14551                                             Avatar       7.20000 12114.00000           8.74607
17818                                       The Avengers       7.40000 12000.00000           8.67318
26564                                           Deadpool       7.40000 11444.00000           8.31766
22879                                       Interstellar       8.10000 11187.00000           8.15332
20051                                   Django Unchained       7.80000 10297.00000           7.58423
23753                            Guardians of the Galaxy       7.90000 10014.00000           7.40327
2843                                          Fight Club       8.30000  9678.00000           7.18842
18244                                   The Hunger Games       6.90000  9634.00000           7.16028
26553                                 Mad Max: Fury Road       7.30000  9629.00000           7.15709
18252                              The Dark Knight Rises       7.60000  9263.00000           6.92306
2458                                          The Matrix       7.90000  9079.00000           6.80540
12588                                           Iron Man       7.40000  8951.00000           6.72355
20830                                         Iron Man 3       6.80000  8951.00000           6.72355
4863   The Lord of the Rings: The Fellowship of the Ring       8.00000  8892.00000           6.68583
25084                                     Jurassic World       6.50000  8842.00000           6.65385
292                                         Pulp Fiction       8.30000  8670.00000           6.54387
19971                  The Hobbit: An Unexpected Journey       7.00000  8427.00000           6.38849
314                             The Shawshank Redemption       8.50000  8358.00000           6.34437

In [7]:
# vote_average ve vote_count_score da artık 1 ile 10 arasında değerler
# artık birlikte kullanılabilir

df["averaga_count_score"] = df["vote_average"] * df["vote_count_score"]

df.sort_values("averaga_count_score",ascending=False).head(20)

                                                   title  vote_average  vote_count  vote_count_score  averaga_count_score
15480                                          Inception       8.10000 14075.00000          10.00000             81.00000
12481                                    The Dark Knight       8.30000 12269.00000           8.84519             73.41505
22879                                       Interstellar       8.10000 11187.00000           8.15332             66.04190
17818                                       The Avengers       7.40000 12000.00000           8.67318             64.18153
14551                                             Avatar       7.20000 12114.00000           8.74607             62.97174
26564                                           Deadpool       7.40000 11444.00000           8.31766             61.55065
2843                                          Fight Club       8.30000  9678.00000           7.18842             59.66388
20051                                   Django Unchained       7.80000 10297.00000           7.58423             59.15697
23753                            Guardians of the Galaxy       7.90000 10014.00000           7.40327             58.48582
292                                         Pulp Fiction       8.30000  8670.00000           6.54387             54.31414
314                             The Shawshank Redemption       8.50000  8358.00000           6.34437             53.92714
2458                                          The Matrix       7.90000  9079.00000           6.80540             53.76266
4863   The Lord of the Rings: The Fellowship of the Ring       8.00000  8892.00000           6.68583             53.48661
18252                              The Dark Knight Rises       7.60000  9263.00000           6.92306             52.61522
26553                                 Mad Max: Fury Road       7.30000  9629.00000           7.15709             52.24674
351                                         Forrest Gump       8.20000  8147.00000           6.20945             50.91748
7000       The Lord of the Rings: The Return of the King       8.10000  8226.00000           6.25996             50.70571
12588                                           Iron Man       7.40000  8951.00000           6.72355             49.75429
18244                                   The Hunger Games       6.90000  9634.00000           7.16028             49.40596
5814               The Lord of the Rings: The Two Towers       8.00000  7641.00000           5.88590             47.08718

-------

## IMBD Weighted Rating

weighted_rating = (v/(v+M)*r) +(M/(v+M)*C)

r = vote average

v = vote count

M = minumum votes required to be listed in the top 250 | 250 için gerekli minumum oy değeri

C = the mean vote across the whole report(currently 7.0) | tüm filmlerin genel ortalaması

In [8]:
# fonksiyon oluşturma 

def weighted_rating(r,v,M,C):
    return ((v /(v+M)*r) + (M/(v+M)*C))

In [10]:
df["weighted_rating"] = weighted_rating(df["vote_average"],df["vote_count"],3500,8)
df

                             title  vote_average  vote_count  vote_count_score  averaga_count_score  weighted_rating
0                        Toy Story       7.70000  5415.00000           4.46252             34.36142          7.81778
1                          Jumanji       6.90000  2413.00000           2.54295             17.54634          7.55111
2                 Grumpier Old Men       6.50000    92.00000           1.05883              6.88238          7.96158
3                Waiting to Exhale       6.10000    34.00000           1.02174              6.23262          7.98172
4      Father of the Bride Part II       5.70000   173.00000           1.11062              6.33054          7.89167
...                            ...           ...         ...               ...                  ...              ...
45461                       Subdue       4.00000     1.00000           1.00064              4.00256          7.99886
45462          Century of Birthing       9.00000     3.00000           1.00192              9.01726          8.00086
45463                     Betrayal       3.80000     6.00000           1.00384              3.81458          7.99281
45464             Satan Triumphant       0.00000     0.00000           1.00000              0.00000          8.00000
45465                     Queerama       0.00000     0.00000           1.00000              0.00000          8.00000

[45466 rows x 6 columns]

-----

## Bayes Ortalama Derecelendirme Puanı ( BAR Score )

In [14]:
# bayes ortalama ile hesaplanması
import math
import scipy.stats as st

def bayesian_average_rating(n,confidence=0.95):
    if sum(n) == 0:
        return 0
    K = len(n)
    z = st.norm.ppf(1-(1-confidence) / 2 )
    N = sum(n)
    first_part = 0.0
    second_part = 0.0
    
    for k,n_k in enumerate(n):
        first_part += (k+1)*(n[k]+1) / (N + K)
        second_part += (k+1) * (k+1) * (n[k] +1) / (N + K)
    score = first_part - z * math.sqrt((second_part - first_part * first_part) / (N+K+1))
    return score

#esaretin bedeli
#puan bilgileri giriyoruz
bayesian_average_rating([34733, 4355, 4704, 6561, 13515, 26183, 87368, 273082, 600260, 1295351])

9.14538444560111

In [15]:
#baba filmi

bayesian_average_rating([37128, 5879, 6268, 8419, 16603, 30016, 78538, 199430, 402518, 837905])

8.940007324860396

In [20]:
# puan bilgilerini çekiyoruz.

df = pd.read_csv(r"C:\Users\kkakt\Desktop\Measurement Problems\datasets\imdb_ratings.csv")

df = df.iloc[0:,1:]
df

          id                                 movieName  rating      ten    nine   eight   seven    six   five   four  three   two    one
0     111161  1.       The Shawshank Redemption (1994) 9.20000  1295382  600284  273091   87368  26184  13515   6561   4704  4355  34733
1      68646             2.       The Godfather (1972) 9.10000   837932  402527  199440   78541  30016  16603   8419   6268  5879  37128
2      71562    3.       The Godfather: Part II (1974) 9.00000   486356  324905  175507   70847  26349  12657   6210   4347  3892  20469
3     468569           4.       The Dark Knight (2008) 9.00000  1034863  649123  354610  137748  49483  23237  11429   8082  7173  30345
4      50083              5.       12 Angry Men (1957) 8.90000   246765  225437  133998   48341  15773   6278   2866   1723  1478   8318
..       ...                                       ...     ...      ...     ...     ...     ...    ...    ...    ...    ...   ...    ...
245  1454029  246.       La battaglia di Algeri (1966) 8.00000    73464   99692  144920   72405  21568   7507   3036   1657  1207   3567
246    58946                247.       The Help (2011) 8.00000    11465   11483   14496    7704   2955   1469    589    420   379   2239
247  2991224             248.       Mandariinid (2013) 8.00000    11968    8630   11245    5710   1550    558    210    125   130    401
248   169858   249.       Trois couleurs: Rouge (1994) 8.00000    11972    8314    8828    4494   2043   1085    586    372   342    981
249   111495  250.       Swades: We, the People (2004) 8.00000    17876   19800   27531   14492   5022   2165    975    597   515   1963

[250 rows x 13 columns]

In [28]:
# bütün filmlere bayesien uygulama

df["bar_score"] = df.apply(lambda x:bayesian_average_rating(x[["one","two","three","four","five","six","seven","eight","nine","ten"]]),axis=1)

# bar_score'a göre sıralama işlemi

df[["movieName","rating","bar_score"]].sort_values("bar_score",ascending=False).head(20)

                                            movieName  rating  bar_score
0            1.       The Shawshank Redemption (1994) 9.20000    9.14539
1                       2.       The Godfather (1972) 9.10000    8.94002
3                     4.       The Dark Knight (2008) 9.00000    8.89596
2              3.       The Godfather: Part II (1974) 9.00000    8.81250
4                        5.       12 Angry Men (1957) 8.90000    8.76793
6   7.       The Lord of the Rings: The Return of ... 8.90000    8.75204
5                    6.       Schindler's List (1993) 8.90000    8.74361
11                      12.       Forrest Gump (1994) 8.80000    8.69915
12                         13.       Inception (2010) 8.70000    8.69315
10                        11.       Fight Club (1999) 8.80000    8.67448
7                        8.       Pulp Fiction (1994) 8.80000    8.66717
9   10.       The Lord of the Rings: The Fellowshi... 8.80000    8.66617
8     9.       Il buono, il brutto, il cattivo (1966) 8.80000    8.66143
28                      29.       Interstellar (2014) 8.50000    8.62289
13  14.       The Lord of the Rings: The Two Tower... 8.70000    8.61475
14  15.       Star Wars: Episode V - The Empire St... 8.70000    8.60564
16                        17.       Goodfellas (1990) 8.60000    8.59279
17   18.       One Flew Over the Cuckoo's Nest (1975) 8.60000    8.58093
20                   21.       La vita è bella (1997) 8.60000    8.57549
43                  44.       The Intouchables (2011) 8.50000    8.55729